$rccs-chip-image:"./chip.png";

.cardLayout{
    padding: 3.5rem 0;
    /* height:100%; */
    background-color: #C2E1F7;
    border: 3px solid #008CBA;
    text-align: center;
}

.formPayment{
    padding: 0 1rem;
    border : 2px solid white;
    background-color: white;
    width: 25%;
    margin: 0 auto;
    margin-top: -6rem;
    /* width:45rem; */
    height: 26rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 2%;
    box-shadow: 1px 1px 4px 10px #A8C8E9;
}

form {
    background-color: white;
    width: 100%;
    padding: 10px;
    padding-top: 7rem;
    /* border: 2px solid green; */
}

.lastRow{
    margin-top:5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    /* border:3px solid green; */
}

input, label {
    display:block;
}

label {
    background-color: white;
    color: black;
    font-weight: bold;
    margin-top:.5rem;
    padding: 4px;
    text-align:left;
    /* text-transform: uppercase; */
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
  }

input {
    padding: .375 rem .75rem;
    font-size: 1rem;
    line-height: 2;
    width: 100%;
    color: #495057;
    border: none;
    background-color: #fff; 
    background-clip: padding-box;
    /* border: 0; */
    outline: none;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15;
}

input:focus {
    border: 1px solid #00FFEF;
  }

  input[type=submit] {
    background-color: #008CBA;
    /* border: none; */
    /* border:2px solid yellow; */
    line-height:1px;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    height: 2.5rem;
    /* margin: 4px 2px; */
    margin-top: 2.5rem;
    cursor: pointer;
  }
  


